
@{
    ViewData["Title"] = "Index";
}


<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-5 my-lg-3 py-4">
    <div class="container">
        <div class="row">


            @await Html.PartialAsync("_LeftPanel")


            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Meet Our Team</h1>
                    <div class="listing-style-1">
                        <div class="row pb-5">
                            <div class="col-12 col-sm-4 col-md-3">
                                <figure class="border text-center">
                                    <img src="/img/DoctorPhoto3.jpg" alt="Dr. Rajesh Chaudhary" width="181" height="242" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-12 col-sm-8 pt-1 detail-content">
                                <h2 class="font-semibold h4 text-secondary m-0">Dr. Rajesh Chaudhary</h2>
                                <div class="subhead pb-3 text-primary font-rglr">
                                    Lead IVF Specialist. MBBS, MD (OBGY/GYN,Gold Medallist), FGMIS, FRM, FMF-UK certified NT practitioner.
                                </div>
                                <div class="font-small text-black">
                                    <div class="short-des">
                                        Dr. Rajesh has Excellence, Experience &amp; Expertise in Obstetrician and Gynaecologist, Reproductive medicine and Expertise in IVF/Infertility care with over 10 years’ experience in IVF. He has handled over 5,000 IVF cases to date. He is a Gynaecologist endoscopic surgeon with special interest in fertility enhancing endoscopic procedure. He has worked in India and Nepal and is now the Lead IVF Specialist at Fertility Point Kenya.
                                    </div>
                                    <div class="moe-des collapse" id="more2">
                                        <p class="py-3 m-0">
                                            <strong>Achievements</strong>
                                        </p>
                                        <ul>
                                            <li class="py-3 m-0">
                                                Credited for successful IVF treatment of a 50yr old lady who delivered triplets thereafter.
                                            </li>
                                            <li class="py-3 m-0">
                                                Credited with achieving pregnancy in 58 years old lady who delivered twins after successful transfer of two donor blastocyst embryos.
                                            </li>
                                            <li class="py-3 m-0">
                                                Handled more than 200 cases of surgical retrieval of sperms for Azoospermic patient.
                                            </li>
                                            <li class="py-3 m-0">
                                                Experience of over 2,000 successful pregnancies.
                                            </li>
                                            <li class="py-3 m-0">
                                                Experience of more than 200 hysteroscopic surgeries.
                                            </li>
                                            <li class="py-3 m-0">
                                                Experience of more than 20,000 ultrasound related to infertility and obstetrics.
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="text-secondary mt-3 d-inline-block collapsed viewmore" data-target="#more2" data-toggle="collapse" href="javascript:void(0);">Read <span class="more">More..</span><span class="less">Less..</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-5">
                            <div class="col-12 col-sm-4 col-md-3">
                                <figure class="border text-center">
                                    <img src="/img/DoctorPhoto2.jpg" alt="Dr Manju" width="181" height="242" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-12 col-sm-8 pt-1 detail-content">
                                <h2 class="font-semibold h4 text-secondary m-0">Dr Manju</h2>
                                <div class="subhead pb-3 text-primary font-rglr">
                                    Lead Embryologist
                                </div>
                                <div class="font-small text-black">
                       
                                    Manju Chaudhary is a <strong>Clinical Embryologist</strong> at Fertility Point with an experience of 5 years in the field. She has a Post Graduate Diploma in Clinical Embryology from Manipal University and has undergone training on Embryo Biopsy and Vitrification, Fertility Preservation, Embryo Culture Systems, and Sperm Morphology and DNA Fragmentation.&nbsp; Mrs. Manju has also a Masters in Science and Bachelors of Science (Zoology) from Tribhuvan University, Nepal.&nbsp;&nbsp; Her thesis was based on Pre-implantation Genetic Screening of Embryo.&nbsp; With an experience of 2000 In Vitro Fertilisation (IVF) / Intracytoplasmic Sperm Injection (ICSI), she has helped hundreds of couples from 12 countries including UK and USA to achieve parenthood.<br>
                                    <br>
                                    She is passionate in her role as an Embryologist, hardworking and methodical in her work. She has excellent and extensive experience on Embryo Biopsy as well as in In- Vitro Maturation.&nbsp; She is an expert on oocyte freezing and thawing programme. She has updated herself to sync with the recent advancement in embryology to help couples fulfill their dreams, including Time lapse embryology and oocyte activation. Her next skill target is Mitochondrial/spindle transfer technique, which could help an agile egg to develop into a normal embryo and baby.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

