
@{
    ViewData["Title"] = "Female";
}



<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />



<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Female Infertility</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="/img/CMSPage6.jpg" alt="Female Infertility" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Female Infertility
                            </h4>
                            There are various reasons why a woman face difficulty in becoming pregnant. Age is a major factor affecting woman’s fertility. A woman's fertility is at the peak in her 20s and starts to decline considerably when she is over 35 years old. This is because women are born with all the eggs they will ever have and cannot produce more. With advanced age, the quantity and quality of eggs decline and become less capable to form a healthy embryo resulting in a healthy pregnancy.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Following are some of the most common health problems that may impact female <a href="https://www.fertilitypoint.co.ke/infertility">infertility</a>.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Polycystic Ovary Syndrome
                            </h4>
                            Polycystic Ovary Syndrome is a common hormone imbalance affecting 10% of women in the world. Women with PCOS have an imbalance of reproductive hormones that tend to produce higher levels of male hormones (androgens) causing missed or irregular menstrual periods. Normally for women with PCOS, ovulation does not occur properly and an egg is not released. This causes cysts to develop on the ovaries leading to hormonal imbalances, making it difficult to get pregnant naturally. With PCOS, the ovarian hormones go out of balance and can also trigger other abnormal conditions like insulin resistance.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Women with PCOS may present with a wide range of symptoms such as irregular periods or no periods at all, excessive weight gain, acne and excess facial hair (hirsutism). In order to diagnose PCOS, doctor will check your medical history and conduct a physical exam. A number of tests and examination is recommended including blood tests to measure hormone levels, and ultrasound to evaluate ovaries to diagnose polycystic ovaries. A combination of the results of physical exams, blood tests and ultrasound examination is used to diagnose PCOS.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            The first step to treat PCOS and reverse the hormonal imbalance is to maintain a healthy lifestyle through healthy eating and exercise. Based on the severity of the condition, medications are prescribed to help manage glucose and improve insulin resistance and lower androgen levels.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Endometriosis
                            </h4>
                            Endometriosis occurs when the lining of the uterus or endometrium starts spreading outside the uterus that leads to scarring in the pelvis involving the ovaries and fallopian tubes. The endometriosis occurs due to a process called retrograde menstruation, as the displaced endometrial tissue bleeds and flows back through the fallopian tubes into the pelvic cavity, instead of exiting the body.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Women with endometriosis may experience symptoms such as pelvic pain, difficulty in becoming pregnant, pain during menstruation, painful intercourse and discomfort with bowel movements. A number of treatments may improve the condition including pain medications, hormone therapy or laparoscopic surgery. In extremely severe cases of endometriosis, a hysterectomy is recommended which removes the uterus, cervix and ovaries.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Ectopic Pregnancy
                            </h4>
                            An ectopic pregnancy occurs when the embryo implants outside the uterus; in most cases, it occurs inside the fallopian tubes and thus it is also called as tubal pregnancies. In some cases, the embryo attaches itself in the ovary, cervix, or the abdominal cavity. Symptoms of ectopic pregnancy are different in each woman. Some of the common symptoms include abdominal pain, pelvic pain or tenderness, shoulder pain or vaginal bleeding. Ectopic pregnancy can be detected through a blood test and an ultrasound. Once the ectopic pregnancy is diagnosed, it is recommended to terminate it either through drug or surgery. The drug option is the ideal one, especially if it is clearly ectopic and the embryo is still relatively small. A surgery is usually recommended if the fallopian tube has ruptured or you are in severe pain and bleeding internally.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Ovarian Cysts
                            </h4>
                            Ovarian cysts are fluid-filled sacs in the ovary or on its surface. They usually form during ovulation when the ovary releases eggs during monthly cycles. Many women with ovarian cysts show no symptoms and most cysts are harmless. Majority disappears in a few months without any treatment. Larger cysts are likely to cause symptoms such as pain in the abdomen or pelvis, bloating, nausea and vomiting, painful bowel movements, swelling, or pain in the lower abdomen on the side of the cyst. Ovarian cysts can be detected through an ultrasound and can be treated depending on the size and appearance. Most of the cysts go away within first few months, however, regular monitoring of the cysts through blood tests and ultrasound scans are advised due to the increased risk of ovarian cancer in post-menopausal women.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            There are different types of ovarian cysts. Two most common types of cysts are follicular cysts and corpus luteum cyst.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <span class="text-primary font-bold">Follicular cyst:</span> In a normal menstrual cycle, an ovary releases an egg. The egg grows inside a tiny sac called a follicle. The egg usually bursts out of its follicle to travel down the fallopian tube. Follicle cysts occurs when the follicle does not rupture to release the egg, causing the follicle to develop into a cyst.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <span class="text-primary font-bold">Corpus luteum cysts:</span> Once the follicle releases the eggs, it shrinks into a mass of cells and makes hormones such as estrogen and progesterone to prepare for the next menstrual cycle. Corpus luteum cysts forms when the sac does not shrink and fills with fluid inside the follicle.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Fibroids
                            </h4>
                            Fibroids are benign tumors that are made of smooth muscle cells and fibrous connective tissue which grows in and around the uterus. They may range in size, from as small as the size of a pea to a small grapefruit. 99 percent of fibroids are non-cancerous but it can affect a woman’s ability to conceive naturally, as it changes the shape of the cervix and can prevent the number of sperms entering the uterus. It may even prevent the implantation of a fertilised egg if they block the fallopian tubes.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Some women with fibroids have no symptoms. One of the most common condition is anemia if the fibroid causes excess loss of blood during menstruation. Other symptoms are pelvic pain, frequent urination or lower back pain. In most of the cases, fibroids does not require any treatment as it may even stop growing and shrink with age. Women with fibroids should undergo regular checkups to monitor the growth and ensure that there isn’t any significant change in the growth.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Blocked Fallopian Tubes
                            </h4>
                            Fallopian tubes are female reproductive organs that connect a woman’s ovaries to her uterus. During ovulation, the fallopian tube carries an egg from the ovary to the uterus. Conception also takes place in the tube and the fertilised egg moves through the tube to the uterus for implantation. If one or both fallopian tubes are blocked, the egg cannot enter the uterus and the passage of sperm to get to the eggs is blocked. Some of the causes of blocked fallopian tubes can be due to pelvic inflammation inside the tubes, sexually transmitted infections (STIs) such as gonorrhea, chlamydia, or severe endometriosis. Blocked fallopian tubes do not show any symptoms. Many women do not know whether they have blocked fallopian tubes, until they have trouble in conceiving. Several medical tests can be conducted to detect blocked fallopian tubes including laparoscopy or a hysterosalpingogram (HSG). HSG is an X-ray using a liquid dye, to view any blockages inside the fallopian tubes. Although a laproscopic surgery can be performed to open the tubes, if the surgery is ineffective, IVF may be a good option for women trying to conceive.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Recurrent Miscarriage
                            </h4>
                            The clinical definition of a recurrent miscarriage is minimum of three miscarriages occurring consecutively. After three pregnancy losses a thorough evaluation is warranted. The most common cause of early pregnancy loss is chromosomal or genetic abnormalities. In some cases, hormonal imbalances such as polycystic ovary, thyroid disease, diabetes multiple cysts on woman’s ovaries caused by high levels of luteinising hormone and testosterone can lead to early pregnancy loss. Sometimes, an abnormally shaped uterus or blood clotting disorders can lead to miscarriage. Age is another factor, women aged over 40 have a higher chance of miscarriage. A thorough investigation, through medical history and physical examination of both partners needs to be done to help prevent a miscarriage. Couples should undergo genetic testing&nbsp;to check for any chromosomal abnormalities, because most of the miscarriage are due to gene related disorders. The uterus and the uterine cavity can be evaluated to look for anomalies such as fibroids, polyps, scars or adhesions. Patients who are diagnosed with an abnormal finding should undergo treatments according to their diagnosis, before they try to conceive again.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Irregular Periods
                            </h4>
                            Usually a woman’s menstrual cycles occurs every 21 to 35 days; irregular periods occur when the length of the cycle is more than 35 days or varies. There are a number of factors that affects the monthly menstruation cycle including lifestyle and medical conditions. Hormonal imbalance, PCOS, thyroid disorders, stress, fibroids, endometriosis, excess weight gain or loss and extreme exercising can trigger irregular periods. It might be difficult for women with periods to get pregnant because ovulation usually does not take place in women with irregular periods. Fortunately majority of the factors causing irregular periods can be treated.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Secondary Infertility
                            </h4>
                            Secondary infertility is the inability to conceive after trying for at least one year or to carry a baby to term after previously giving birth to a baby. A lot of things might have changed after giving birth to the first baby. Age is another factor that affects women trying to get pregnant again, the older you get, lesser the chances of conceiving naturally. Some problems can develop after the birth of the first child. Some of the factors that may cause secondary infertility in women are blocked fallopian tube, ovulation disorders, complications related to previous pregnancy or surgery, endometriosis, fibroids, pelvic or uterine scarring.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Treatment for primary and secondary infertility are the same. The emotional toll of secondary infertility cannot be underplayed. The first step is to meet your GP to get evaluated. Your doctor can help determine whether there's an issue that requires a specialist or treatment at a fertility clinic.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



