
@{
    ViewData["Title"] = "Male";
}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Male Infertility</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="/img/CMSPage7.jpg" alt="Male Infertility" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Male Infertility
                            </h4>
                            Male infertility is a common problem that affects the male reproductive system. Abnormalities in the count, motility and morphology of the sperm contributes to most of male infertility problems. In some cases an underlying medical problem such as hormonal imbalance, varicocele, tumour, cystic fibrosis, and genetic abnormalities can cause problems with male fertility. Studies also suggests that certain lifestyle factors including smoking, drinking, obesity, using certain illicit drugs and stress can also lead to infertility.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h5>
                                Below are some of the common causes of infertility in men -&nbsp;
                            </h5>
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Obstructive Azoospermia
                            </h4>
                            Obstructive Azoospermia means sperm are being produced normally in the testes, but there is a blockage or obstruction in the male reproductive tract that prevents the normal transport of sperm through the post-testicular ductal system. Obstruction occurs mostly in the epididymis, vas deferens and ejaculatory duct. Azoospermia can be caused due to several conditions including sexually transmitted disease, retrograde ejaculation, scrotal trauma/injury, scar tissue, cystic fibrosis, hernia surgery and vasectomy.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            There are two treatment options for obstructive azoospermia: surgical correction of the obstruction, or sperm retrieval from the epididymis or testes through testicular sperm extraction (TESA).
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Oligospermia
                            </h4>
                            Oligospermia, also commonly referred as low sperm is defined as low sperm concentration in the ejaculate. As per WHO the sperm count in a semen sample should be above 15 million sperm per milliliter, anything below can be diagnosed as oligospermia. Semen with poor sperm quality also show significant abnormalities in sperm morphology and motility.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Finding an exact reason behind low sperm count can be complicated, however following are some of the possible causes.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <ul class="px-3 my-0">
                                <li>
                                    social and environmental factors such as tobacco and alcohol consumption, exposure to toxic environmental agents, or stress
                                </li>
                                <li>
                                    hormonal imbalances
                                </li>
                                <li>
                                    surgery
                                </li>
                                <li>
                                    chemotherapy
                                </li>
                                <li>
                                    radiation
                                </li>
                                <li>
                                    infection
                                </li>
                                <li>
                                    testicular factors
                                </li>
                                <li>
                                    genetic abnormalities
                                </li>
                            </ul>
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Retrograde Ejaculation
                            </h4>
                            Retrograde ejaculation occurs when the semen is redirected to the urinary bladder instead of ejaculating via the urethra. This happens when the bladder sphincter does not function properly, forcing semen to enter the bladder.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Even though retrograde ejaculation is harmless, it can cause male infertility. Men with diabetes are at high risk of developing this condition. Retrograde ejaculation may be also caused due to usage of certain medications, congenital conditions, injury or surgery. In most cases for men with retrograde ejaculation, sperm can be retrieved through urine sample or through&nbsp;Testicular Sperm Aspiration (TESA).
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Varicocele
                            </h4>
                            Varicocele is a condition occurs when the veins enlarge within the scrotum. These veins are similar to varicose veins of the legs. These veins also known as pampiniform plexus, drains blood from the testicles. It might cause male infertility. Pooled blood in the enlarged veins affects the temperature in the scrotum to increase than normal, it affects the ability of the testes to produce sperm resulting in decreased sperm count, decreased motility and poor morphology. Varicocelectomy is a treatment option available to treat varicocele. It is a small microsurgical procedure in which all the swollen veins are tied off while preserving the normal blood vessels. In many patients this can result in a dramatic increase in sperm counts and motility.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


