
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">


            @await Html.PartialAsync("_LeftPanel")


            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">News and Media</h1>
                    <h4> Fertility Point 3rd Anniversary Coverage</h4>
                    <div class="listing-style-1">
                        <h5>1. The Star</h5><p><a href="https://www.the-star.co.ke/sasa/2021-08-31-firm-offering-ivf-celebrates-3-years-in-kenya/">Firm Offering IVF Celebrates 3 Years in Kenya</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>2. MSN</h5><p><a href="https://www.msn.com/en-xl/africa/other/firm-offering-ivf-celebrates-3-years-in-kenya/ar-AANWKDL">Firm Offering IVF Celebrates 3 Years in Kenya</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>3. Kenyan Digest</h5><p><a href="https://kenyandigest.com/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>4. Destination Africa</h5><p><a href="https://www.destinafrica.co.ke/2021/09/01/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>5. The Times - Kenya</h5><p><a href="https://thetimes.co.ke/2021/09/02/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>6. Kenyan Business Feed</h5><p><a href="https://kenyanbusinessfeed.com/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>7. Taarifa News</h5><p><a href="https://taarifanews.co.ke/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>8. Business Quest</h5><p><a href="https://www.businessquest.co.ke/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>9. Hustle Magazine Kenya</h5><p><a href="http://hustlemag.co.ke/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>10. StartUp Mag Kenya</h5><p><a href="http://startupmagazine.co.ke/2021/09/06/fertility-point-celebrates-3rd-anniversary-with-over-700s-successful-ivfs/">Fertility Point Celebrates 3rd Anniversary With Over 700 Successful IVFs</a></p>
                    </div>
                    <br>
                    <h5>Fertility Point in the News</h5>
                    <div class="listing-style-1">
                        <h5>1. Nation Newspaper Health Feature</h5><p><a href="https://nation.africa/kenya/life-and-style/lifestyle/dr-rajesh-chaudhary-what-i-have-learnt-as-a-lead-ivf-specialist-at-nairobi-s-fertility-clinic-3493722">Couple's Experience from IVF Fertility Centre</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>2. People Daily</h5><p><a href="https://www.pd.co.ke/business/medical-tourism-requires-policy-swank-to-prosper-89900/">Medical Tourism Requires Swank Policy To Prosper</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>3. Taalamu</h5><p><a href="https://taalamu.com/medical-tourism-requires-policy-swank-to-prosper/">Medical Tourism Requires Swank Policy To Prosper</a></p>
                    </div>
                    <div class="listing-style-1">
                        <h5>4. Soko Directory</h5><p><a href="https://sokodirectory.com/2021/07/fertility-points-ivf-success-rate-a-hope-for-couples-navigating-infertility/">Fertility Point's IVF's Success Rate; A Hope For Couples Navigating Infertility</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br />

