
@{
    ViewData["Title"] = "Index";
}


<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />

<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Donation Program (Find a Sperm Donor in Kenya)</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="/img/CMSPage10.jpg" alt="Donation Program (Find a Sperm Donor in Kenya)" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Sperm Donation
                            </h4>
                            Sperm donation is an anonymous and altruistic provision of healthy sperm by a donor to intended couples experiencing male infertility to achieve pregnancy. Donors are young men who undergo stringent medical screening to ensure the quality of their sperm.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            We have tie-ups with reputed sperm banks in Kenya and have access to donor sperm candidates. The sperm donor program is recommended to couples, whose male partner has infertility issues including azoospermia (no measurable level of sperm in the semen) or some other sperm abnormality. Sperm donation is also recommended to the male partner who may have undergone chemotherapy, or radiation therapy, or previous vasectomy.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            The techniques used to achieve pregnancy are Artificial Insemination with Donor Sperm and In Vitro Fertilisation with Donor Sperm.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

