@{
    ViewData["Title"] = "Home Page";

}

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative" data-dot="<img src='/img/bannerimage1.jpg'>">
            <img class="img-fluid img" src="/img/bannerimage1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Creating <br /> Little miracles</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">With an experienced team of IVF consultants and professional embryologists to assist you in every step of your fertility journey</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='/img/bannerimage2.jpg'>">
            <img class="img-fluid img" src="/img/bannerimage2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Advanced IVF <br />lab with latest<br />technologies</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">Our state-of-the-art IVF laboratory is equipped with the most advanced and innovative technologies that ensure quality care and achive high success rates.</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='/img/bannerimage3.jpg'>">
            <img class="img-fluid img" src="/img/bannerimage3.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">IVF at your Own convenience</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">Our IVF centre gives couples the opportunity to undergo infertility <br />treatment in an international clinical setting, infertility treatment at your <br />own embryologists to assist you in every step of your fertility journey</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- vertical Start -->



<div class="">
    <div class="cont">
        <div class="aa">
            <ul>
                <li>
                    <strong>Success Rates:</strong>

                    <strong>IVF/ICSI</strong> - 55%-65%, <strong>IUI</strong> - 25% <span class="d-inline-block w-100">
                        The success rates of IVF have been
                        35-40% in the best of the labs and we have success rates of 55%-65%, which includes all age groups.

                    </span>
                </li>

                <li>

                    <span class="d-inline-block w-100">
                        The success rates of IUI have been a maximum of 15-20%
                        and our IUI success rates are 25%.
                    </span>

                </li>
                <li>
                    <strong>Genetic Screening and Testing:</strong> We assist in providing Preimplantation Genetic Screening (PGS)
                    and Preimplantation Genetic Diagnosis
                    (PGD) tests to detect chromosomal abnormalities and genetic diseases in embryos.

                </li>
                <li>
                    PGD/PGS can detect chromosomal abnormalities especially in older age group patients and
                    recurrent implantation failure cases, where aneuploidies are common cause of failures.

                </li>

                <li>
                    Diseases like Sickle cell anemia and Thalassemia can be detected in embryos before transferring.
                    Hence, only the normal and healthy embryos devoid of the disease are transferred.
                    The only IVF centre offering this facility in Kenya.
                </li>

            </ul>
        </div>

    </div>
</div>


<!-- vertical end -->
<!-- Feature Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-users text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">3453</h1>
                </div>
                <h5 class="mb-3">Happy Customers</h5>
                <span>Going above and beyond involves making customers “feel special” and  helping them out. </span>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">4234</h1>
                </div>
                <h5 class="mb-3">Clients Handle</h5>
                <span>Our most unhappy customers are our greatest source of learning. </span>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-award text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="toggle">80%</h1>
                </div>
                <h5 class="mb-3">Success Rate</h5>
                <span>Self-belief and hard work will always earn you success </span>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-users-cog text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">101</h1>
                </div>
                <h5 class="mb-3">Expert Docters</h5>
                <span>As a caregiver, you see selfless acts everyday. </span>
            </div>

        </div>
    </div>
</div>
<!-- Feature Start -->
<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/img/about.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <h6 class="text-primary">About Us</h6>
                    <h1 class="mb-4">15+ Years Experience In Fertiltiy</h1>
                    <p>
                        Going above and beyond involves making customers “feel special” and  helping them out.Fertility Point is a team of highly qualified and internationally trained IVF
                        consultants and senior embryologists with proven expertise in successful treatment of infertility.Our services include :-
                    </p>

                    <p><i class="fa fa-check-circle text-primary me-3"></i>Intrauterine Insemination</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>In Vitro Fertilisation (IVF)</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Intracytoplasmic Sperm Injection (ICSI)</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Surrogacy</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Egg Vitrification and much more..</p>
                    @*<p><i class="fa fa-check-circle text-primary me-3"></i>Laser Assisted Hatching</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Blastocyst Culture</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Frozen Embryo Transfer</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Male Infertility</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Laparoscopy Treatment</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i> Diagnostic and Operative Hysteroscopy</p>*@


                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 mt-3">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Our Services</h6>
            <h1 class="mb-4">Assisted Reproduction</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/IntrauterineInsemination.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Intrauterine Insemination (IUI)</h4>
                        <p>IUI is a procedure where washed and prepared sperm is inseminated into the woman’s uterus close to the ovulation period,to facilitate fertilization..</p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/Vitro.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-wind fa-3x"></i>
                        </div>
                        <h4 class="mb-3">In Vitro Fertilisation (IVF)</h4>
                        <p>
                            IVF is the process of fertilizing eggs with sperm, outside the uterus, in a petri dish in an IVF Laboratory.
                        </p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/Fertility.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Fertility Preservation</h4>
                        <p>
                            Fertility preservation is the process of safeguarding current reproductive abilities into the future by freezing eggs, sperms and embryos.<br />
                        </p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->
@*<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;visibility: visible;animation-delay: 0.1s;animation-name: fadeIn;display: flex;justify-content: space-around;padding: 5em;">
                <img class="position-absolute img-fluid" src="/img/Fertility Clinic.png" style="object-fit: cover;margin: auto;" alt="">
            </div>


            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <div class="p-lg-5 pe-lg-0">
                    <h6 class="text-primary">Why Choose Us!</h6>
                    <h1 class="mb-4">
                        We are a fertility clinic  that offers advanced treatment

                    </h1>
                    <div class="">
                        <div class="et_pb_text_inner"><h3><span style="color: #D82661;">A</span>ffordable, <span style="color: #D82661;">R</span>eliable, <span style="color: #D82661;">T</span>ransparent</h3></div>
                    </div>

                    <div class="et_pb_module et_pb_text et_pb_text_2 gunjanivf-features  et_pb_text_align_left et_pb_bg_layout_light">
                        <div class="et_pb_text_inner">


                            <p> <i class="fa fa-check-circle text-primary me-3"></i>High Take Home Baby Rate &amp; High IVF Success Rate </p>
                            <p> <i class="fa fa-check-circle text-primary me-3"></i>Experienced IVF Doctors, Embryologists &amp; Paramedics </p>
                            <p><i class="fa fa-check-circle text-primary me-3"></i>Affordable &amp; Effective Treatments </p>
                            <p><i class="fa fa-check-circle text-primary me-3"></i> Reliable </p>
                            <p> <i class="fa fa-check-circle text-primary me-3"></i>Transparent </p>


                        </div>
                    </div>


                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 mt-3">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>*@


<!-- Feature End -->
<!-- Team Start -->
@*<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Team Member</h6>
            <h1 class="mb-4">Experienced Doctor Team</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="" alt="">

                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Full Name</h5>
                        <span>Designation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Testimonial</h6>
            <h1 class="mb-4">What Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                    <h5 class="mb-1">Client Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                    <h5 class="mb-1">Client Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                    <h5 class="mb-1">Client Name</h5>
                    <span class="fst-italic">Profession</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<style>


    ul {
        list-style: none;
        position: absolute;
        top: 0;
        left: 50px;
        transition: all 0.5s ease;
        height: 40px;
    }

    li {
        height: 70px;
    }

    /*
                                                .container {

                                                    position: relative;
                                                }
                    */
    .aa {
        height: 164px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 90%;
              padding: 15px;
    }

    h1 {
        display: inline;
    }


    .cont ul, .cont ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
    }

    .cont {
        line-height: 30px;
        border: 3px solid #32c36c;
        border-radius: 5px;
        overflow: Hidden;
        background-color: #34495E;
        color: #fff;
        padding: 5px 0;
        margin: -4px auto;
        margin-bottom: 2rem;
    }






    .et_pb_text_2 {
        font-family: 'Circular Std Medium',Helvetica,Arial,Lucida,sans-serif;
        background-color: #263b6b;
        border-radius: 7px 7px 7px 7px;
        overflow: hidden;
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 30px !important;
        padding-left: 30px !important;
        width: 87%;
    }

    .et_pb_text_align_left {
        text-align: left;
    }

    .et_pb_text {
        word-wrap: break-word;
    }

    .et_pb_section_1.et_pb_section {
        background-color: #f4eff1 !important;
    }

    .et_pb_section_1 {
        background-position: right 0px bottom 117px;
        background-size: 106px !important;
    }

    .et_pb_section {
        position: relative;
        background-color: #fff;
        background-position: 50%;
        background-size: 100%;
        background-size: cover;
    }

    .img {
        padding: 0px;
        border: 0px;
        margin: -2px;
    }
</style>

<script>
    $(document).ready(function() {
      
        document.getElementById('divHome').style.display = 'none';

        function scrollTxt(el, heightTxt) {
            let v = $(el).css('top');
            if (v != heightTxt) {
                $(el).css({
                    'transition': 'all 0.5s ease',
                    '-webkit-transition': 'all 0.5s ease',
                    '-o-transition': 'all 0.5s ease',
                    'top': heightTxt
                });
                $(el).children('li').first().clone().appendTo(el);
            }
            else {
                $(el).children('li').first().remove();
                $(el).css({
                    'transition': 'none',
                    '-webkit-transition': 'none',
                    '-o-transition': 'none',
                    'top': '0'
                });
            }
        }

        const size = $('ul').children('li').height();


        window.setInterval(() => {
            scrollTxt('ul', -size + 'px')
        }, 2000);
    })

    var showElem = document.getElementById("show");

    var hideElem = document.getElementById("hide");

    showElem.onclick = function() {
        hideElem.style.display = 'none';
    }

    hideElem.onclick = function() {
        showElem.style.display = 'none';
    }








</script>