
@{
    ViewData["Title"] = "AssistedHatching";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage18.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Laser Assisted Hatching
                            </h4>
                            <strong>Assisted Hatching</strong> is a procedure where in a small opening is made in the zona by using a precision laser beam.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            The embryo is surrounded by a layer of protein called the zona pellucida and making small holes in the outer layer of zona may help the embryos to hatch. The procedure is done by our highly experienced embryologists. Studies have suggested that one of the possible reason for multiple implantation failure is due to the inability of the embryo to hatch to the uterine wall. Assisted hatching will be done on embryos selected for transfer.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            There are a number of situation when assisted hatching can be considered.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <ul class="px-3 my-0">
                                <li>
                                    Older woman as they tend to have a thicker layer of zona pellucida
                                </li>
                                <li>
                                    Weak embryo quality
                                </li>
                                <li>
                                    Patients with a history of multiple IVF failures
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

