
@{
    ViewData["Title"] = "BlastocystCulture";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage19.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Blastocyst Culture
                            </h4>
                            Embryos are normally transferred to the uterus on the third day after the fertilisation. Blastocyst transfer is when the embryo at day 5 is implanted into the endometrium. Blastocyst culture can help identify embryo with highest implantation potential. Primary benefit of blastocyst culture is that fewer embryos or high quality embryos need be transferred into the patient and this can significantly reduce the risk of multiple pregnancies.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            An embryo goes through different stages from fertilised egg until it hatches. On the 2nd day, the fertilised egg divides into 2-4 cells and on day 3 after ovum pickup, it divides into a 6-8 cell embryo. And on 4th day fertilised eggs are divided into 14-32 cells which is also called the Morula. On the 5th day, it has reached the blastocyst stage. During this much advanced stage a fluid filled cavity accumulates in the embryo and these cells are structured into two different types, Inner Cell Mass (ICM)) and Trophectoderm. The ICM fuse together at the side of the embryo will give rise to the actual cells of the fetus. The remaining cells which is called the Trophectoderm form the fetal part of the placenta.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Studies have shown that blastocyst transfer has more potential for live births and it will reduce chances of multiple pregnancies. However our experienced doctors and embryologists will take a call whether to opt for a blastocyst transfer after taking into consideration the age of the patient, embryo quality, and other medical conditions. This is because not all embryos will survive till the 5th day in a culture media in the IVF lab.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>