
@{
    ViewData["Title"] = "EggVitrification";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">


            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage17.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Egg Vitrification
                            </h4>
                            <strong>Egg Vitrification</strong> is a technique to preserve women’s mature eggs for future use. We use rapid egg freezing technique to freeze the eggs for an indefinite period of time. The word&nbsp;‘vitrify’&nbsp;means to transform into a glass or a glass-like substance.&nbsp;Vitrification of eggs involves the use of cryoprotectants that will prevent ice crystals from forming, which could tear the cell wall.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            A woman’s egg has high water content and is more susceptible to damage. Once the mature eggs are selected, we bath them in sucrose to help draw some of the water out of the egg cells. Immediately the eggs are moved into a high concentration of cryoprotectant which instantaneously freezes the egg and place them in liquid nitrogen at -196 degrees, perfectly stabilised, with all its components intact. With this technique, the survival rate of these egg cells is almost 100% and keeps the eggs’ characteristics intact indefinitely. When you are ready to conceive, we have the eggs thawed, fertilized, and transferred the embryos to the uterus to facilitate a pregnancy.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

