
@{
    ViewData["Title"] = "FrozenEmbryoTransfer";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Frozen Embryo Transfer Centre in Kenya - Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage20.jpg" alt="Frozen Embryo Transfer Centre in Kenya - Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Frozen Embryo Transfer
                            </h4>
                            In an <a href="https://www.fertilitypoint.co.ke/invitro-fertilisation">IVF treatment</a> cycle several high quality embryos can be obtained and one of these embryos is transferred to the uterus and rest of the embryos are cryopreserved for future use. Cryopreservation is a process of freezing embryos using cryoprotective agents (CPAs) and are stored in liquid nitrogen at -321° Fahrenheit (-196.1° Celsius) for future use. The embryos are later thawed and used in subsequent IVF cycles.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            The process of frozen embryo transfer is much shorter than fresh embryo transfer and is more cost effective, as you do not have to undergo hormone stimulation and egg collection procedures. The first step to transfer the embryo, is to thicken the uterine endometrium to accept the embryo with hormones estrogen and progesterone. Frozen embryo transfer can be undertaken on natural cycle as well. The embryo is thawed and transferred on the 3rd day, using an ultrasound guided catheter, into the uterus. Embryo transfer is not painful and most of the cases do not require any sedation and the patient can return to routine activities after the procedure.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

