
@{
    ViewData["Title"] = "ICSI";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")


            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage15.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Intracytoplasmic Sperm Injection (ICSI)
                            </h4>
                            <strong>Intracytoplasmic Sperm</strong> Injection is an assisted reproduction technique in which a single motile sperm is selected, immobilized and is injected directly into an egg using a micromanipulator. ICSI is usually recommended when the basic semen analysis and sperm function tests demonstrate an evident <a href="https://www.fertilitypoint.co.ke/male-infertility">male infertility</a> or in cases of previous repeated fertilization failures. However based on your fertility evaluation our doctors will be able to determine the best treatment plan for you.
                        </div>
                        <div class="pb-lg-2">
                            <h4 class="text-secondary mb-2 font-rglr">
                                ICSI Procedure
                            </h4>
                        </div>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Ovarian stimulation</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            ICSI treatment begins with stimulation of your ovaries by injecting FSH (Follicle Stimulating Hormone) or in some cases LH (Luteinising Hormone) on day 2 or 3 of your menstrual cycle. During this time follicular growth is monitored through ultrasound scan until the follicle reaches the correct size and number. As this point, the HCG shot is triggered to induce ovulation and release the egg.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Egg retrieval</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            Eggs are retrieved by inserting a thin ultrasound guided needle into an ovarian follicle and aspirating the fluid from the follicle. This procedure is done under sedation. The retrieved eggs are stored in a culture dish in an IVF lab.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Sperm collection and ICSI procedure </span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            On the day of egg retrieval your partner can give the sperm sample to be prepared for fertilization with the egg. Eggs are denuded immediately after the retrieval, to facilitate the injection. Denudation means removing the cumulus cells surrounding the oocyte. During this time, a single highly motile sperm is prepared and immobilized for efficient fertilization. This single sperm is directly injected into the egg using a micromanipulator and the technique is done under an inverted microscope under high magnification.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Embryo transfer</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            The day after ICSI procedure we will be able to know how many eggs are fertilised and have reached embryo stage. In the next 2 or 3 days, the embryos with highest developmental potential are selected and implanted into the woman’s uterus through a thin catheter. The embryos that are not used are cryopreserved for any future IVF cycles.
                        </dd>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

