
@{

}
<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />




<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")


            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">About Us</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">

                            <img src="~/img/CMSPage1.jpg" alt="About Us" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2" style="text-align: justify;">
                            Fertility Point is a team of highly qualified and internationally trained IVF consultants and senior embryologists with proven expertise in successful treatment of <a href="https://www.fertilitypoint.co.ke/infertility">infertility</a>.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr" style="text-align: justify;">
                                Advanced IVF lab with latest technologies
                            </h4>
                            <p style="text-align: justify;">
                                Fertility Point’s state-of-the-art IVF laboratory is equipped with the most advanced and innovative technologies that ensure quality care and achieve high success rates.<br>
                                <br>
                                Our lab features the latest cutting edge technologies including the time-lapse incubator to capture images of embryos developing, in a safe and controlled environment. These images from the high-tech incubator enables embryologists to evaluate embryos for better prediction of future developmental and implantation potential.<br>
                                <br>
                                We have introduced standard operating procedures in our IVF lab so as to ensure that we meet high&nbsp;quality&nbsp;standards and laboratory protocols.<br>
                                <br>
                                Our lab has a robust quality management system and processes in place, in order to more efficiently help infertile couples in their quest to have a healthy baby.
                            </p>
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 style="text-align: justify;">
                                Well trained and experienced clinical team
                            </h4>
                            <p style="text-align: justify;">
                                We take pride in bringing together some of the best IVF specialists and embryologists trained abroad and with a proven track record in all areas of infertility treatment including <a href="https://www.fertilitypoint.co.ke/artificial-insemination">IUI</a>, <a href="https://www.fertilitypoint.co.ke/invitro-fertilisation">IVF</a>, <a href="https://www.fertilitypoint.co.ke/sperm-injection">ICSI</a>, TESA, PESA, Surgical Hysteroscopy, Gynecologic Laparoscopy etc.<br>
                                <br>
                                We are affiliated with Europe's largest fertility services provider to share technological know-how and medical expertise. Our doctors and embryologists work closely with this internationally-renowned&nbsp;clinicians&nbsp;with extensive expertise to give our patients the advantage of a world class treatment and to ensure best international practices.
                            </p>
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 style="text-align: justify;">
                                IVF at your own convenience
                            </h4>
                            <p style="text-align: justify;">
                                At Fertility Point, we consider every aspect of your journey to achieve your dream of parenthood. Our aim is to assess your needs accurately and offer a personalized treatment plan guiding you through every step of your fertility journey. Our IVF centre give couples the opportunity to undergo infertility treatment in an international clinical setting, fertility treatment at your own convenience and most importantly without any waiting period.<br>
                                <br>
                                With the Fertility Point team, you can be assured of world-class reproductive care, underlined by a sincere commitment to your overall well-being.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
