
@{
    ViewData["Title"] = "IUI";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage13.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Intrauterine Insemination (IUI)
                            </h4>
                            <strong>Intrauterine Insemination (IUI)</strong> also called as <strong>Artificial Insemination</strong> is a procedure where washed and prepared sperm is inseminated into the woman’s uterus close to the ovulation period, to facilitate fertilization. IUI can be performed in natural cycles or through stimulating the ovaries with hormones and ovulation is monitored in order to know the best time to carry out the IUI procedure. IUI treatment can be considered when there is a prolonged <a href="https://www.fertilitypoint.co.ke/infertility">infertility</a>, when the sperm has difficulty reaching the uterus, ovulatory dysfunction, minor tubal defects, etc. If there are no positive outcomes achieved after 3 or 4 attempts, more complex techniques such as <a href="https://www.fertilitypoint.co.ke/invitro-fertilisation">IVF</a> may be considered.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <strong>There are 2 options available for IUI treatment -&nbsp;</strong>
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <ul class="px-3 my-0">
                                <li>
                                    Artificial insemination with partner’s&nbsp;sperm
                                </li>
                                <li>
                                    Artificial insemination with donor sperm&nbsp;
                                </li>
                            </ul>
                        </div>
                        <div class="pb-lg-2">
                            <h4 class="text-secondary mb-2 font-rglr">
                                Stages of IUI
                            </h4>
                        </div>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Ovarian stimulation</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            On day three of menstrual cycle, hormones such as FSH (or in some cases luteinizing hormone LH) is injected to stimulate the ovaries. The follicle size and number is monitored through ultrasound to determine the right time for insemination. As one or two follicles have reached their optimum size, HCG shot is administered to trigger ovulation and release the egg. The IUI will be scheduled 24 - 36 hours after the HCG shot.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Semen preparation</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            On the day of the insemination, a fresh semen sample is collected and is prepared, washed and sufficient concentration of motile sperm is obtained.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Insemination</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            On the day of ovulation, the highly motile semen sample is placed in a fine catheter and inserted into the uterus. The IUI procedure is painless and will take around 20 minutes.
                        </dd>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

