
@{
    ViewData["Title"] = "IVF";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">


            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage14.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                In Vitro Fertilisation (IVF)
                            </h4>
                            <strong>IVF</strong> is the process of fertilizing eggs with sperm, outside the uterus, in a petri dish in an IVF Laboratory. The resulting embryo with high implantation potential, is transferred back into woman’s uterus for a successful pregnancy. There are 4 main IVF treatment options available, depending upon your situation.&nbsp;
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <ul class="px-3 my-0">
                                <li>
                                    IVF using own eggs and partner’s sperm
                                </li>
                                <li>
                                    IVF using own eggs and donor sperm
                                </li>
                                <li>
                                    IVF with donor eggs and partner’s sperm
                                </li>
                                <li>
                                    IVF with donor eggs and donor sperm
                                </li>
                            </ul>
                        </div>
                        <div class="mb-4 pb-lg-2">
                            IVF is the most effective fertility treatment available today with high chances of success rates. IVF is recommended for women suffering from blocked fallopian tube, endometriosis, ovulation disorders, premature ovarian failure, fibroids, male infertility factors, same-sex couples, single women and other unexplained infertility factors.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                IVF Process – Step-by-step
                            </h4>
                        </div>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Step 1: Meet an IVF specialist</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            Your first step towards building a family begins with meeting our IVF specialist. In order to determine the best approach for your treatment, our IVF specialist will conduct your fertility investigation during the initial consultation. You may be asked to undergo blood tests and ultrasound to check hormonal levels and assess your uterus and ovarian function. We will request you to provide us with relevant medical records and laboratory results, if you have already undergone some tests and treatments previously. If the <a href="https://www.fertilitypoint.co.ke/">infertility</a> is due to a male factor, a&nbsp;semen analysis&nbsp;will be conducted. Based on your medical history, physical exams and test results, we will prepare a personalised treatment plan for you.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Step 2: Ovarian Stimulation </span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            The first step of your IVF treatment is to stimulate the growth of follicles in your ovaries to produce more eggs than usual. If there are more eggs, then there is a greater chance of obtaining embryos to help increase your chances of pregnancy. Injections are administered using follicle-stimulating hormone FSH (in some cases, Luteinising Hormone, LH) to stimulate the maturation of a larger number of follicles containing eggs. The FSH stimulation is done over a time period of approximately 10-12 days and during this time we monitor the follicular growth through ultrasound and blood tests until it reaches the correct number and size. Once you have optimum number of follicles ready, an HCG shot is triggered for final maturation of eggs. This is usually done 36-40 hours before the scheduled egg retrieval.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Step 3: Egg Retrieval &amp; Sperm Collection</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            Egg retrieval is a day procedure done under sedation. Eggs are retrieved by inserting an ultrasound guided thin needle into the ovary and aspirating the follicular liquid which contains the eggs from the ovarian follicle. Once the follicular liquid is removed, it is immediately passed on to the laboratory to ascertain whether it contains eggs. The retrieved eggs will be stored in a culture dish while, the sperm is being prepared for fertilization.
                        </dd>
                        <dd class="pb-3">
                            The same day of your egg retrieval, your partner can provide the semen sample to our lab. The best motile sperm is selected to fertilise with the eggs.
                        </dd>
                        <dl class="my-1">
                            <dt class="pb-2">
                                <span class="d-inline-block align-middle ml-2">Step 4: Embryo Transfer</span>
                            </dt>
                        </dl>
                        <dd class="pb-3">
                            Embryo transfer is comparatively a minor procedure, in most cases, sedation is not required. The eggs and sperm are combined for fertilization. Between day 3 and 5 after fertilization, the best embryo with a highest implantation potential is selected for transfer. At this stage, couples with higher chances of passing on any genetic diseases can consider genetic screening of the embryo Preimplantation Genetic Diagnosis (PGD). The highest quality embryo is inserted into a thin catheter and is transferred into the uterus through the cervix. Most women are able to continue with their routine activities the next day after the embryo transfer. Two weeks after the procedure, blood tests are conducted to confirm pregnancy.
                        </dd>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
