
@{
    ViewData["Title"] = "Laparoscopy";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">


            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Laparoscopy Treatments in Kenya - Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage22.jpg" alt="Laparoscopy Treatments in Kenya - Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Laparoscopy Treatment
                            </h4>
                            <strong>Laparoscopy</strong> is a minimally invasive surgical technique that allows a fertility doctor to see the inside of the abdomen. Laparoscopy uses a telescopic camera system to view any abnormalities in the abdominal organ that may interfere with a woman’s ability to conceive. In laparoscopy, a small incision is made in the belly button and the laparoscope is inserted into the abdominal cavity and pelvis, allowing the physician to evaluate the reproductive organs such as uterus, fallopian tubes, and ovaries. Some of the problems that can be corrected with laparoscopy are&nbsp;endometriosis,&nbsp;pelvic adhesions, ovarian cysts and uterine fibroids.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Our fertility doctors have extensive experience and expertise in these minimally invasive surgical procedures.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

