
@{
    ViewData["Title"] = "MaleInfertility";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage21.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Male Infertility
                            </h4>
                            About 1/3rd of the <a href="https://www.fertilitypoint.co.ke/infertility">infertility</a> cases diagnosed today are due to male factors. We understand that it is important to provide male fertility investigation and treatment in order to be sure that we deliver a comprehensive care to our patients that lead to successful treatment outcomes. Our infertility experts will offer you the best diagnosis and treatment in all areas of male factor related infertility. Our andrology lab is well equipped with most advanced technologies for semen analysis and other sperm functional tests to give you the most accurate results.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            There are more than one causes of <a href="https://www.fertilitypoint.co.ke/male-infertility">male infertility</a>. As a first step of your fertility investigation, you will be asked to undergo a physical examination and we will evaluate your medical history, taking into account your personal and family background, social and environmental factors that can influence your fertility. A semen analysis may be ordered to measure any abnormalities in the morphology and motility of the sperm. Our infertility specialist will help you diagnose the issue and recommend treatments or procedures that will result in conception.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Below is a small description of treatment options available at Fertility point.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Testicular Sperm Aspiration (TESA)
                            </h4>
                            Testicular Sperm Aspiration (TESA) is a surgical procedure performed under local anesthesia that includes passing a tiny needle directly into the testicles to retrieve seminiferous tubules. TESA is generally performed in men where there no spermatozoids in the ejaculate (also called azoospermia). These seminiferous tubules are later checked in a laboratory to check for presence of sperm later to be used in an&nbsp;IVF-ICSI&nbsp;cycle.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Testicular Sperm Extraction (TESE)
                            </h4>
                            Testicular Sperm Extraction (TESE) is a surgical procedure to remove a small amount of testicular tissue or epididymal fluid in the testicle. These tissues are later transported to the laboratory to extract viable sperm from biopsy specimen that can be used for Intracytoplasmic Sperm Injection (ICSI) or In Vitro Fertlisation (IVF). TESE is a minor procedure performed under local anaesthesia. This technique is done in men where there is a blockage in the ducts that are supposed to carry sperm from the testicle and there are no sperm in the ejaculate to succeed with IVF.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Percutaneous Epididymal Sperm Aspiration (PESA)
                            </h4>
                            Percutaneous Epididymal Sperm Aspiration, also known as PESA is a technique used to insert a syringe into the epididymis and then aspirating the fluid. Epididymis is a coiled tube in the back of the testicle that carries sperm from the testes to the ductus deferens in the male reproductive system. PESA is used for men who have had a prior vasectomy, congenital abnormality&nbsp;or infection. The procedure can done either under a local anaesthetic or sedation.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Microsurgical Epididymal Sperm Aspiration (MESA)
                            </h4>
                            Microsurgical Epididymal Sperm Aspiration (MESA) is a surgical procedure to retrieve high number of sperms with optimal quality from a fully formed or only partially formed epididymis. A small incision is made in the scrotum exposing the epididymis so that the sperm can be aspirated directly from the epididymis An operating microscope is used to locate an epididymal tube to extract sperm. The retrieved sperm can be used immediately for IVF/ ICSI cycle or can be cryopreserved for future use. MESA is recommended for men with a total absence of sperm in ejaculation and reproductive tract blockage. MESA is the best way to retrieve sperm when sperm retrieval through Testicular Sperm Aspiration (TESA) fails.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

