
@{
    ViewData["Title"] = "OperativeHysteroscopy";


}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage23.jpg" alt="Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Diagnostic and Operative Hysteroscopy
                            </h4>
                            <strong>Diagnostic Hysteroscopy</strong> is a minimally invasive ultrasound procedure performed to directly view the inside structure of the uterus and to determine if there are abnormalities on the inside walls of the uterus and fallopian tubes that might interfere with pregnancy. It is generally best performed in the postmenstrual proliferative phase. Hysteroscopy detects any abnormalities in the uterine cavity, such as endometrial polyps, submucous fibroids, uterine septum, and intrauterine adhesions that may disrupt the implantation of embryo into the uterus. The examination is practiced on an out-patient basis, without anesthesia.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            Operative hysteroscopy is performed to treat these intrauterine abnormalities that has been detected during a diagnostic hysteroscopy. The procedure is done under general anesthesia and will take about 30 minutes. Studies suggests that hysteroscopic removal of uterine cavity abnormalities including uterine septum, intrauterine adhesions, polyps and submucous myomas, may improve the odds of a clinical pregnancy.&nbsp;
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

