
@{
    ViewData["Title"] = "Surrogacy";

}

<link href="~/css/content.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />


<div class="content-wrapper py-lg-1 my-lg-3 py-4">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_LeftPanel")

            <div class="col-12  col-lg-9 ">
                <div class="pl-sm-3">
                    <a href="javascript:void(0);" class="slide-toggle-menu float-right d-md-none"><span></span></a>
                    <h1 class="font-weight-normal text-secondary h3 heading-style mb-4 pb-lg-1">Surrogacy Clinic in Kenya - Treatments &amp; Techniques</h1>
                    <div class="detail-content font-small">
                        <div class="banner mb-4 pb-lg-2">
                            <img src="~/img/CMSPage16.jpg" alt="Surrogacy Clinic in Kenya - Treatments &amp; Techniques" width="844" height="450" class="img-fluid">
                        </div>
                        <div class="mb-4 pb-lg-2">
                            <h4 class="text-secondary mb-3 font-rglr">
                                Surrogacy
                            </h4>
                            Surrogate, also referred as a surrogate mother, a gestational surrogate or a gestational carrier, is a woman who carries and delivers a baby for another couple, because the intended mother is unable to conceive or carry a pregnancy to term due to various medical reasons.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            At Fertility Point, we have experienced and accomplished <a href="https://www.fertilitypoint.co.ke/invitro-fertilisation">IVF</a> consultants in safely creating a surrogate pregnancy and successful delivery of the child. When the intended parents choose to go for surrogacy services, our medical team will guide you through all steps of the surrogacy process.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            We work with highly reputed surrogacy agency in Kenya and will help to find the right surrogate for you. Surrogates undergo extensive testing and monitoring to make sure they are ready to help you on your path to parenthood. We make sure every part of the process is legal, and you have the best chance possible for a successful pregnancy. When intended parents conceive with a surrogate, they are involved in the entire process.
                        </div>
                        <div class="mb-4 pb-lg-2">
                            There are two types of surrogacy: traditional and gestational. Traditional surrogate is the biological mother of the child and is artificially inseminated with intended father’s sperm or donor sperm, as the case may be. Gestational surrogate has no genetic connection to the baby and provides only the womb for the developing baby. The child is conceived through<strong> in-vitro fertilization (IVF)</strong>, as the embryo that is not genetically related to the surrogate is implanted into her uterus. If the intended parents cannot provide viable eggs or sperm due to any medical complications, donor may be used.
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
